.puppy-image{
    width: 100%;
    height: 85vh;
}
.like{
    color: #cbd2d9;
    font-size: 40px;
}
.button{
    color: #cbd2d9;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    border-width: 0px;
    color: #9aa5b1;
    font-size: 14px;

}